<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stream.mokulive.storage.mapper.BuildingMapper">

    <select id="checkName" parameterType="hashmap" resultType="int">
        select count(1) from storage_building
        where buildingname=#{buildingName}
        and userid=#{userId}
    </select>

    <insert id="addBuilding" parameterType="stream.mokulive.storage.vo.Building">
        insert into storage_building values(
          #{buildingId},
          #{userId},
          #{buildingName},
          #{planPicture},
          #{comment},
          #{status}
        )
    </insert>

    <update id="updateBuilding" parameterType="stream.mokulive.storage.vo.Building">
        update storage_building set
          <if test="buildingName !=null and buildingName != ''">
          buildingName=#{buildingName},
          </if>
          <if test="planPicture !=null and planPicture != ''">
          planPicture=#{planPicture},
          </if>
          <if test="comment !=null and comment != ''">
          comment=#{comment},
          </if>
          <if test="status !=null and status != ''">
          status=#{status}
          </if>
        WHERE
          buildingId=#{buildingId}
    </update>

    <update id="deleteBuilding" parameterType="hashmap">
        update storage_building
        set status='0'
        where buildingId=#{buildingId}
    </update>

    <select id="findBuildingList" parameterType="hashmap" resultType="stream.mokulive.storage.vo.Building" fetchSize="1000">
        select * from storage_building
        WHERE
        status='1'
        <if test="buildingId !=null and buildingId != ''">
            and buildingId=#{buildingId}
        </if>
        <if test="userId !=null and userId != ''">
            and userId=#{userId}
        </if>
    </select>

</mapper>