<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stream.mokulive.storage.mapper.GoodsMapper">


    <insert id="addGoods" parameterType="stream.mokulive.storage.vo.Goods">
        insert into storage_goods (
                goodsid,
                userid,
                owername,
                goodname,
                picture,
                location,
                hotpointid,
                typeid,
                tagid,
                buytime,
                price,
                modifytime,
                comment,
                status
            )
            values (
                #{goodsId},
                #{userid},
                #{owername},
                #{goodsName},
                #{picture},
                #{location},
                #{hotPointId},
                #{typeId},
                #{tagId},
                #{buyTime},
                #{price},
                now(),
                #{comment},
                #{status}
            )
    </insert>

    <update id="updateGoods" parameterType="stream.mokulive.storage.vo.Goods">
        update storage_goods set
                goodname=#{goodsName},
                userid=#{userId},
                owername=#{owername},
                picture=#{picture},
                location=#{location},
                hotpointid=#{hotPointId},
                typeid=#{typeId},
                tagid=#{tagId},
                buytime=#{buyTime},
                price=#{price},
                modifytime=now(),
                comment=#{comment},
                status=#{status}
            where goodsid = #{goodsId}
    </update>

    <update id="deleteGoods" parameterType="hashmap">
        update storage_goods
        set status='0'
        where goodsid = #{goodsId}
    </update>

    <select id="findGoodsListByName" parameterType="hashmap" resultType="stream.mokulive.storage.mapper.bean.GoodsMapperBean">
        select * from storage_view_goods where
        goodsname like '%${goodsName}%'
        and goodstatus='1'
        and hotpointstatus='1'
        and userid = #{userId}
    </select>

    <select id="findGoodsById" parameterType="hashmap" resultType="stream.mokulive.storage.mapper.bean.GoodsMapperBean">
        select * from storage_view_goods where goodsid=#{goodsId}
    </select>

    <select id="findAllGoodsList" parameterType="hashmap" resultType="stream.mokulive.storage.mapper.bean.GoodsMapperBean">
        select
--             goodsid,
--             userid,
--             goodname,
--             owername,
--             picture,
--             location,
--             hotpointid,
--             typeid,
--             tagid,
--             buytime,
--             price,
--             modifytime,
--             goodscomment,
--             goodstatus,
--             xstart,
--             ystart,
--             xend,
--             yend,
--             hotPointName,
--             hotpointcomment,
--             hotpointstatus,
--             datatype,
--             dataname,
--             basedatacomment
              *
        from storage_view_goods
        where
        and goodstatus='1'
        and hotpointstatus='1'
        and userid=#{userid}
    </select>

    <select id="findGoodsListUnrelatedToHotPoint" parameterType="hashmap" resultType="stream.mokulive.storage.mapper.bean.GoodsMapperBean">
        select * from storage_view_goods
        where hotpointid is null
        and goodstatus='1'
        and userid=#{userId}
    </select>

</mapper>