<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stream.mokulive.storage.mapper.GoodsMapper">

    <select id="checkName" parameterType="hashmap" resultType="int">
        select count(1) from storage_goods
        where goodsname=#{goodsName}
        and userid=#{userId}
    </select>

    <insert id="addGoods" parameterType="stream.mokulive.storage.vo.Goods">
        insert into storage_goods (
                goodsid,
                userid,
                owername,
                goodsname,
                picture,
                location,
                hotpointid,
                typeid,
                tag,
                buytime,
                price,
                modifytime,
                comment,
                status
            )
            values (
                #{goodsId},
                #{userId},
                #{owerName},
                #{goodsName},
                #{picture},
                #{location},
                #{hotPointId},
                #{typeId},
                #{tag},
                #{buyTime},
                #{price},
                now(),
                #{comment},
                #{status}
            )
    </insert>

    <update id="updateGoods" parameterType="stream.mokulive.storage.vo.Goods">
        update storage_goods set
                <if test="goodsName !=null and goodsName != ''">
                goodsname=#{goodsName},
                </if>
                <if test="owerName !=null and owerName != ''">
                owername=#{owerName},
                </if>
                <if test="picture !=null and picture != ''">
                picture=#{picture},
                </if>
                <if test="location !=null and location != ''">
                location=#{location},
                </if>
                <if test="hotPointId !=null and hotPointId != ''">
                hotpointid=#{hotPointId},
                </if>
                <if test="typeId !=null and typeId != ''">
                typeid=#{typeId},
                </if>
                <if test="tag !=null and tag != ''">
                tag=#{tag},
                </if>
                <if test="buyTime !=null and buyTime != ''">
                buytime=#{buyTime},
                </if>
                <if test="price !=null and price != ''">
                price=#{price},
                </if>
                modifytime=now(),
                <if test="comment !=null and comment != ''">
                comment=#{comment},
                </if>
                <if test="status !=null and status != ''">
                status=#{status}
                </if>
            where goodsid = #{goodsId}
    </update>

    <update id="deleteGoods" parameterType="hashmap">
        update storage_goods
        set status='0', throwtime=now()
        where goodsid = #{goodsId}
    </update>

    <select id="findGoodsListByName" parameterType="hashmap" resultType="stream.mokulive.storage.mapper.bean.GoodsMapperBean" fetchSize="1000">
        select * from storage_view_goods where
        goodsname like '%${goodsName}%'
        and goodstatus='1'
        and hotpointstatus='1'
        and userid = #{userId}
    </select>

    <select id="findGoodsById" parameterType="hashmap" resultType="stream.mokulive.storage.mapper.bean.GoodsMapperBean">
        select * from storage_view_goods where goodsid=#{goodsId}
    </select>

    <select id="findAllGoodsList" parameterType="hashmap" resultType="stream.mokulive.storage.mapper.bean.GoodsMapperBean" fetchSize="1000">
        select
              *
        from storage_view_goods
        where goodstatus='1'
        and userid=#{userId}
    </select>

    <select id="findGoodsListUnrelatedToHotPoint" parameterType="hashmap" resultType="stream.mokulive.storage.mapper.bean.GoodsMapperBean" fetchSize="1000">
        select * from storage_view_goods
        where hotpointid is null
        and goodstatus='1'
        and userid=#{userId}
    </select>

</mapper>